<!DOCTYPE html>
<html>

<head>
    <body style="background-color:#EFEFEF;">
      
  <title>Contact | CARE</title>
  <meta charset="UFT-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="static/css/styles.css" rel="stylesheet" type="text/css">

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>
  <script src="script.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
</head>


<body>

  <!-- Beginning of the nav bar code-->
  <header>
    <div class="container">

      <img src="static/images/ucmlogo_0.gif" alt ="logo" class="logo" style = " width:135px;">

      <nav>
        <ul>
          
          <li>
            <a href ="/" style="text-decoration: none;">Home</a>
          </li>
          
          <li>
            <a href ="/about" style="text-decoration: none;">About</a>
          </li>
          
          <li>
            <a href ="/appointment" style="text-decoration: none;">Appointment</a>
          </li>
          
          <li>
            <a href ="/resources" style="text-decoration: none;">Resources</a>
          </li>
          
          <li>
            <a href ="#" style="text-decoration: none;">Contacts</a>
          </li>
          
        </ul>
      </nav>
    </div>
  </header>
  <!-- Ending of the nav bar code-->

  <br>
  <div class="container">

    <h1 style="color:#002856;">Contacts and Location</h1>

    <br></br>

    <h2 style="color:#002856;">Program Director</h2>
    <p><b>Yesenia Curiel</b>, <a href = "mailto: ycuriel@ucmerced.edu">ycuriel@ucmerced.edu</a></p>
    <p>(209) 233-1746</p>
    
    <h2 style = "color:#002856;">CARE Campus Advocate</h2>
    <p><b>Rose Ly</b></p>
    <p>(209) 286-2051 (call or text)</p>

    <p><b>Lynna Cano</b></p>
    <p>(209) 386-2051 (call or text)</p>


    <h2 style ="color:#002856;">Prevention Education Coordinator</h2>
    <p><b>Valara Villanueva</b>, <a href = "mailto: vvillanueva2@ucmerced.edu">vvillanueva2@ucmerced.edu</a></p>
    <p >(209) 355-0763</p>
    
    <p><b>Taylor Fugere</b>, <a href = "mailto: tfugere@ucmerced.edu">tfugere@ucmerced.edu</a></p>
    <p >(209) 355-0763</p>

    <br>
    
    <!--Code for the maps to be centered-->
    <h2 style= "color:#002856;">CARE Office Map</h2>

    <div class="row">
      <div class="col-sm-1">
      </div>
      
      <div class="col-sm-5">
          <img src="static/images/office_map.png" alt ="logo" class="logo" style = " width:350px;">
      </div>
    
      <div class="col-sm-5">
        <img src="static/images/zoomed_map.jpg" alt ="logo" class="logo" style = " width:450px;">
      </div>
      <div class="col-sm-1">
      </div>
      <!--End of Code for the maps to be centered-->
<!--       <br><h2 style= "color:#002856;"></h2></br> -->

      
  </div>
    
    
  </div>
  </div>

  <br><br></br></br>
  
  <footer class="footer">
  	 <div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>Other Pages</h4>
  	 			<ul>
  	 				<li><a href="#">Home</a></li>
  	 				<li><a href="/about">About</a></li>
  	 				<li><a href="/appointment">Appointment</a></li>
  	 				<li><a href="/resources">Resources</a></li>
  	 				<li><a href="/contacts">Contacts</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Social Media</h4>
  	 			<div class="social-links">
  	 				<a href="https://www.facebook.com/UCMercedCARE/" target="_blank"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="https://twitter.com/ucmcare?lang=en" target="_blank"><i class="fab fa-twitter"></i></a>
  	 				<a href="https://www.instagram.com/ucmcare/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://vm.tiktok.com/ZMJojUFV8/" target="_blank"><i class="fab fa-tiktok"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>
  
  

  
</body>
</html>