<!DOCTYPE html>
<html>
<head>
  <body style="background-color:#EFEFEF;">
    
  <title>Resources | CARE</title>
  <meta charset="UFT-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="static/css/styles.css" rel="stylesheet" type="text/css">


  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>
  <script src="script.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
</head>

  
  
<body>
  <header>
    <div class="container">

      <img src="static/images/ucmlogo_0.gif" alt ="logo" class="logo" style = " width:135px;">

      <nav>
        <ul>
          
          <li>
            <a href ="/" style="text-decoration: none;">Home</a>
          </li>
          
          <li>
            <a href ="/about" style="text-decoration: none;">About</a>
          </li>
          
          <li>
            <a href ="/appointment" style="text-decoration: none;" >Appointment</a>
          </li>
          
          <li>
            <a href ="#" style="text-decoration: none;">Resources</a>
          </li>
          
          <li>
            <a href ="/contact" style="text-decoration: none;">Contacts</a>
          </li>
          
        </ul>
      </nav>
    </div>
  </header>


  <br>

  <div class="container">

    <h1 class="display-4">Resources</h1>

    <center>
      
    <h2>Other resources to use</h2>
        
    </center>
      
  </div>



<div class = "container">

  <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top" src="/static/images/trevorproject.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Trevor Project</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="https://www.thetrevorproject.org/" class="btn btn-outline-secondary" target="_blank">Trevor Project</a>
      </div>
    </div>
  </div>

  
        <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top" src="/static/images/spl.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">National Suicide Prevention Lifeline</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="https://suicidepreventionlifeline.org/" class="btn btn-outline-secondary" target="_blank">Suicide Lifeline</a>
      </div>
    </div>
  </div>
  </div>

    <br></br>

  <div class="row">
    <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top" src="/static/images/person.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">SAMHSA</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="https://www.samhsa.gov/find-help/national-helpline" class="btn btn-outline-secondary" target="_blank">SAMHSA</a>
      </div>
    </div>
  </div>
    
  
  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top" src="/static/images/images.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Merced County Behavioral Health Resources</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="https://www.co.merced.ca.us/3395/Behavioral-Health-Resources" class="btn btn-outline-secondary" target="_blank">Behavioral Health Resources</a>
      </div>
    </div>
  </div>
</div>

  <br></br>

  <div class="row">  
  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top" src="/static/images/ndv.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">National Domestic Violence Hotline</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="https://www.thehotline.org/" class="btn btn-outline-secondary" target="_blank">Domestic Violence Hotline</a>
      </div>
    </div>
  </div>
</div>



  
</div>

  <br><br></br></br>
  
  <footer class="footer">
  	 <div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>Other Pages</h4>
  	 			<ul>
  	 				<li><a href="#">Home</a></li>
  	 				<li><a href="/about">About</a></li>
  	 				<li><a href="/appointment">Appointment</a></li>
  	 				<li><a href="/resources">Resources</a></li>
  	 				<li><a href="/contacts">Contacts</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Social Media</h4>
  	 			<div class="social-links">
  	 				<a href="https://www.facebook.com/UCMercedCARE/" target="_blank"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="https://twitter.com/ucmcare?lang=en" target="_blank"><i class="fab fa-twitter"></i></a>
  	 				<a href="https://www.instagram.com/ucmcare/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://vm.tiktok.com/ZMJojUFV8/" target="_blank"><i class="fab fa-tiktok"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>


</body>
</html>